@import './ant-custom-light.less';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,body{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 0;
}
input[type=number]:hover::-webkit-inner-spin-button,
input[type=number]:focus::-webkit-inner-spin-button {
  opacity: 0.25;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f2f7;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #01ec98;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05cf89;
}
/* Custom CSS */
.rounded {
  border-radius: 20px !important;
}
.font-weight-bold{
  font-weight: 500;
}
.text-success {
  color: #01EC98;
}
.btn-success {
  background: #01EC98;
  color: #163F52;
}
.row-rounded>div>div {
  border-radius: 20px;
}
.rounded-select div {
  border-radius: 20px;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}
.badge-primary {
  color: #262626!important; 
  background: #01EC98;
}
.badge-secondary {
  color: #fff !important; 
  background: #ff002385;
  font-weight: bold;
}
.badge-soon {
  font-size: 9px;
  padding: 4px 8px;
  position: absolute;
  top: -3px;
  right:-8px;
}
.table-rounded {
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
}
/* END - Custom CSS */
.ant-slider-track, .ant-slider:hover .ant-slider-track {
  background-color: #01EC98;
  opacity: 0.75;
}
.ant-slider-track,
.ant-slider ant-slider-track:hover {
  background-color: #01EC98;
  opacity: 0.75;
}
.ant-slider-dot-active,
.ant-slider-handle,
.ant-slider-handle-click-focused,
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open)  {
  border: 2px solid #01EC98; 
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #dedede;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #dedede;
}
.ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}
.ant-table-container table > thead > tr:first-child th {
  border-bottom: none;
}
.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 1px solid #dedede !important;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.ant-layout {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.ant-table {
  background: #fff !important;
  background-color: #fff !important;
}
.ant-table-thead > tr > th {
  background: #fff;
}
.ant-select-item-option-content {
  img {
    margin-right: 4px;
  }
}
.ant-modal-content {
  background-color: #dedede;
}
@-webkit-keyframes highlight {
  from { background-color: #01EC98;}
  to {background-color: #dedede;}
}
@-moz-keyframes highlight {
  from { background-color: #01EC98;}
  to {background-color: #dedede;}
}
@-keyframes highlight {
  from { background-color: #01EC98;}
  to {background-color: #dedede;}
}
.flash {
  -moz-animation: highlight 0.5s ease 0s 1 alternate ;
  -webkit-animation: highlight 0.5s ease 0s 1 alternate;
  animation: highlight 0.5s ease 0s 1 alternate;
}
/* Background Snow CSS */
.bg-snow {
  position: absolute;
  z-index: 0;
}
.wrapper-floating-el {
  background-color: #fff !important;
}
.user-info-p {
  color: 'rgba(0,0,0,0.5)';
}
.select-el {
  color: 'rgb(236,236,236)';
}
.select-el2 {
  color: rgb(255, 255, 255);
}
/* END - Background Snow CSS */
/* Responsive Menu CSS */
.ck-logo-svg {
  width: 50px;
  height: 40px;
  padding: 5px 14px 5px 6px;
}
.App-Bar {
  padding: 0px;
  justify-content: space-between !important;
}
.app-left {
  padding: 8px 10px;
}
.divider {
  border-left: 1px solid #dedede !important;
  width: 2px;
  height: 40px;
  margin-right: 14px;
}
.app-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border-width: 0px;
}
.app-bar-box {
  background: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}
.app-bar-inner {
  display: flex;
  min-width: 50%;
  justify-content: center;
  position: relative;
  height: auto;
}
.app-bar-inner .app-bar-item {
  cursor: pointer;
  padding: 0 30px;
  color: #547595;
  font-size: 18px;
}
.app-bar-inner .app-bar-item a {
  color: inherit;
}
.app-bar-inner .app-bar-item>.active {
  color: white;
}
.app-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 15px;
  z-index: 1;
}
.app-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 15px;
}
header.ant-layout-header.App-Bar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  height: 80px;
}

.table-rounded, .wrapper-floating-el {
  border: 1px solid #dedede;
  box-shadow: 0 0 15px rgba(0,0,0,0.1)
}

.badge-soon {
  z-index: 1;
}

.btn-action {
  background: rgb(1, 236, 152) !important;
  color: rgb(22, 63, 82) !important;
  font-weight: 500 !important;
  border-color: rgb(1, 236, 152) !important;
}

.btn-connect {
  border: none;
}

.ant-modal .ant-table tbody > tr > td.ant-table-cell-fix-left, .ant-modal .ant-table tbody > tr > td.ant-table-cell-fix-right {
  background-color: #fff;
}

.ant-modal .ant-table.ant-table-small thead > tr > th {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
/* END - Responsive Menu CSS */

/* START - Trading View */
.wrapper-floating-el .ant-card-body,
.wrapper-floating-el .ant-card-body .tradingview-chart {
  height: 100%;
}
.wrapper-floating-el .ant-card-body .tradingview-chart iframe{
  border-radius: 10px;
}
/* END - Trading View */

/* START - Glass effect on light */
.wrapper-floating-el, .ant-table-wrapper  {
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.ant-table  {
  background: transparent !important;
}
/* END - Trading View */

/* START - Market Info */
.pool-img .ant-image {
  vertical-align: middle;
  margin-right: 6px;
}

.table-market {
  overflow-x: hidden;
}
.table-market table tr td {
  padding: 0px;
  background: #222c35;
}
.table-market table thead th {
  font-weight: bold;
  padding: 0;
  padding-bottom: 15px;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.color-red {
  color: rgb(242, 59, 105);
}
.color-green {
  color: rgb(65, 199, 122);
}
.pointer {
  cursor: pointer;
}
.ant-avatar-square img {
  border-radius: 50%;
}
.mkt-active {
  color: #f5b217;
  font-weight: bold;
}
/* END - Market Info */
